<app-placeholder>
    <app-placeholder-heading>Header</app-placeholder-heading>
  </app-placeholder>
  
  <app-placeholder>
    <app-placeholder-heading>Content</app-placeholder-heading>
    <app-placeholder-row>
      <app-placeholder>
        <app-placeholder-heading>section 1</app-placeholder-heading>
      </app-placeholder>
  
      <app-placeholder>
        <app-placeholder-heading>section 2</app-placeholder-heading>
      </app-placeholder>
    </app-placeholder-row>
  </app-placeholder>
  
  <app-placeholder>
    <app-placeholder-heading>Footer</app-placeholder-heading>
    <p>Prototype your component structure quickly with these placeholder components.</p>
  </app-placeholder>
  
  