<app-placeholder>
  <app-placeholder-heading>Header</app-placeholder-heading>
</app-placeholder>

<app-placeholder>
  <app-placeholder-heading>Content</app-placeholder-heading>
  <app-placeholder-row>
    <app-placeholder>
      <app-placeholder-heading
        >section 1

      </app-placeholder-heading>
      <p>
        A different approach is not to create artificial components for
        prototyping, but instead create stubs of future components and style
        them in the way that they represent the structure. They become more
        and more real as you develop them one by one. See the <a routerLink="../mockup">example mockup</a>.
      </p>
    </app-placeholder>

    <app-placeholder>
      <app-placeholder-heading>section 2</app-placeholder-heading>
    </app-placeholder>
  </app-placeholder-row>
</app-placeholder>

<app-placeholder>
  <app-placeholder-heading>Footer</app-placeholder-heading>
  <p>
    Prototype your component structure quickly with these placeholder
    components.
  </p>
</app-placeholder>
