:host{
    position: relative;
    display: block;
    border: 1px solid #70809080;
    background-color: #6495ed33;
    border-radius: 4px;
    padding: 10px;
    min-height: 60px;
    width: calc(100% - 62px);
    margin: 20px;
}