menu {
    background-color: orange;
    border-bottom: 1px solid navy;
    padding: 1em;
    margin: 0 0 1em;
    li {
        list-style: none;
        display: inline-block;
        margin: 0 1em 0 0;
    }
}