@import 'shared/styles/constants';

menu {
    background-color: orange;
    border-bottom: 1px solid navy;
    padding: $unit;
    margin: 0 0 $height-navigator-gap;
    box-sizing: border-box;
    height: calc($height-navigator - $height-navigator-gap);
    li {
        list-style: none;
        display: inline-block;
        margin: 0 $unit 0 0;
    }

    button:cdk-keyboard-focus {
        outline: 2px solid cornflowerblue;
    }
}